@mixin clear {
  content: '';
  display: block;
  clear: both;
}

@mixin define-emoji($name, $glyph) {
  span.emoji-#{$name} {
    font-family: IconFont;
    font-variant: normal;
    font-weight: normal;
    content: $glyph;
  }
}
@mixin outer($isPadding: false) {
  //기본이 false
  margin-left: var(--outer-padding);
  margin-right: var(--outer-padding); //기본적으로 적용되는 것
  @if $isPadding {
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
  }
}
@mixin ellipsis($line: 0) {
  overflow: hidden;
  word-break: break-all;
  @if ($line == 0) {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}
