body {
  overflow-x: hidden;
  &.pos-fix {
    #header {
      position: fixed;
      z-index: 999;
      left: 0;
      right: 0;
      background: #fff;
    }
  }
  &.gnb-open {
    height: 100%;
    overflow-y: hidden;
    #wrap {
      .list-wrap {
        height: calc(100vh - 26.6rem);
        overflow-y: scroll;
      }
      .gnb_bg {
        display: block;
      }
    }
  }
  #wrap {
    overflow-x: hidden;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    .gnb_bg {
      display: none;
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color: #000000, $alpha: 0.3);
    }
    #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      background: #fff;
      #logo {
        width: 11.625rem;
        height: 2.4rem;
        margin-left: 1.6rem;
        background: url(../image/img_logo.png) center center / contain no-repeat;
        text-indent: -9999rem;
      }
      .gnb_box {
        display: flex;
        align-items: center;
        .search {
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 2rem;
          background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8989 17.7978C14.2613 17.7978 17.7978 14.2613 17.7978 9.8989C17.7978 5.53646 14.2613 2 9.8989 2C5.53646 2 2 5.53646 2 9.8989C2 14.2613 5.53646 17.7978 9.8989 17.7978Z' stroke='%2349AA85' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.9999 21.9999L15.5544 15.5544' stroke='%2349AA85' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat;
        }
        .gnb-button {
          position: relative;
          display: inline-block;
          width: 5rem;
          height: 5rem;
          background: #424643;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 4H21' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12H21' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 20H21' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
    main {
      .main-banner {
        position: relative;
        height: 20rem;
        min-width: 100vw;
        overflow: hidden;
        .slidecontainer {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          .slide {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            &:after {
              content: '';
              position: absolute;
            }
            &.first {
              padding-right: 1.3rem;
              background-color: #e8ffea;
              font-family: 'Akshar', sans-serif;
              text-align: right;
              .tt {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 6rem;
                color: #4ad760;
              }
              .sub-tt {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.6rem;
                color: #323232;
              }
              &::after {
                left: -4.7rem;
                top: 6rem;
                width: 19.9rem;
                height: 18.1rem;
                background: url(../image/Group\ 1099.png) center center / cover no-repeat;
              }
            }
            &.second {
              padding: 2.4rem 1.4rem;
              background-color: #4fbc7b;
              .tt {
                font-size: 1.1rem;
                font-weight: 700;
                line-height: 1.3rem;
                color: #f5de6a;
              }
              .sub-tt {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.6rem;
                color: #fff;
                em {
                  font-weight: 700;
                }
              }
              &:after {
                right: 0;
                bottom: 0;
                width: 20rem;
                height: 11rem;
                background: url(../image/Group\ 1100.png) center center / cover no-repeat;
              }
            }
            &.third {
              padding: 2.4rem 1.4rem;
              background: #e5fae7;
              .tt {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.9rem;
                color: #49aa85;
              }
              .sub-tt {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.6rem;
                color: #212422;
                em {
                  font-weight: 700;
                }
              }
              &:after {
                right: 0;
                bottom: 0;
                width: 26.1rem;
                height: 10.5rem;
                background: url(../image/Group\ 1101.png) center center / cover no-repeat;
              }
            }
          }
        }
      }
    }
    section {
      margin-top: 4.8rem;
      padding-left: 2rem;
      &:first-child {
        margin-top: 3rem;
      }
      &.has-bg {
        padding: 4.8rem 0;
        background: #f2f7f4;
        overflow: hidden;
        .sec-tt {
          text-align: center;
        }
        .slider-wrap {
          .slick-list {
            // padding: 0 1.05rem;
            .cont {
              // margin: 0 -1.05rem;
              text-align: center;
              img {
                display: inline-block;

                // width: 22.3rem;
                height: 22.3rem;
              }
            }
          }
        }

        .more {
          color: #fff;
          background: #212422;
          border: 0.1rem solid #212422;
          &:after {
            background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.01574 1L9 5.99212L4 11' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &.download-banner {
        margin: 5.6rem 0;
        padding-left: 0;
        .banner {
          position: relative;
          height: 47.5rem;
          background: url(../image/Simple\ Mockup\ Free\ Scene\ 1.png) center center / 100% no-repeat;
          &:after {
            content: '';
            position: absolute;
            top: 5.6rem;
            right: 2rem;
            width: 12rem;
            height: 2rem;
            background: url(../image/Group\ 426.png) center center / 100% no-repeat;
          }
          .link-wrap {
            position: absolute;
            display: flex;
            justify-content: center;
            left: 50%;
            bottom: 3.2rem;
            margin: 0;
            transform: translateX(-50%);
            .button {
              display: inline-block;
              width: 15.2rem;
              height: 4.8rem;
              border-radius: 0.4rem;
              color: #fff;
              &.apple {
                margin-right: 1.6rem;
                background: url(../image/apple.png) center center / 100% no-repeat;
              }
              &.google {
                background: url(../image/google.png) center center / 100% no-repeat;
              }
            }
          }
        }
        .link-wrap {
          margin-top: 2.4rem;
          > div {
            position: relative;
            width: 32rem;
            height: 7.6rem;
            margin: 0 auto;
            padding: 1.6rem 2.4rem;
            border-radius: 0.4rem;
            box-sizing: border-box;
            > a {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
            &.join {
              margin-bottom: 1.6rem;
              background: #e2f3ed;
            }
            &.request {
              background: #e5fae7;
            }
            .txt-wrap {
              h4 {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #212422;
              }
              p {
                margin-top: 0.4rem;
                font-size: 1.1rem;
                color: #9ea29f;
                &::after {
                  content: '';
                  display: inline-block;
                  width: 0.8rem;
                  height: 0.8rem;
                  margin-left: 0.4rem;
                  background: url("data:image/svg+xml,%0A%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.67716 1.66671L6 4.99479L2.66667 8.33337' stroke='%239EA29F' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center center / 100% no-repeat;
                }
              }
            }
          }
        }
      }
      .sec-tt {
        position: relative;
        margin-bottom: 1.6rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: #212422;
        span.new {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 0.6rem;
          padding: 0.2rem 0.6rem;
          background: #6ae179;
          border-radius: 0.4rem;
          font-size: 1rem;
          line-height: 1.5rem;
          color: #fff;
        }
      }
      .card-box {
        display: flex;
        margin-left: -2rem;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        &.teacher {
          .card {
            width: 14.8rem;
            .card-image .teacher_img {
              height: 14.8rem;
              border-radius: 0.4rem;
            }
          }
          .card-explain {
            > p {
              margin-bottom: 0.2rem;
              font-size: 1.4rem;
              line-height: 2rem;
              color: #212422;
            }
            .first-floor {
              display: flex;
              align-items: center;
              color: #9ea29f;
              .like-count {
                position: relative;
                padding-left: 1.4rem;
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  width: 1.2rem;
                  height: 1.2rem;
                  background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.06 2.36416C9.02464 1.50527 7.47745 1.65822 6.52443 2.61124L6.00086 3.13481L5.47729 2.61124C4.52427 1.65822 2.97709 1.50527 1.94171 2.36416C0.753377 3.34659 0.688666 5.11144 1.75346 6.17624L4.17719 8.59996L5.62436 10.0471C5.83026 10.253 6.16558 10.253 6.3656 10.0471L7.81277 8.59996L10.2365 6.17624C11.3131 5.11144 11.2483 3.34659 10.06 2.36416Z' fill='%239EA29F' stroke='%239EA29F' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
                &:after {
                  content: '';
                  display: inline-block;
                  width: 0.1rem;
                  height: 1rem;
                  margin-left: 0.8rem;
                  margin-right: 0.8rem;
                  background: #dfe4e1;
                }
              }
            }
          }
        }
        .card {
          position: relative;
          width: 22.3rem;
          margin-right: 1rem;
          flex-shrink: 0;
          &:first-child {
            padding-left: 2rem;
          }
          &:last-child {
            margin-right: 2rem;
          }
          .card-wrap {
            position: relative;
            height: 16.7rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5rem;
            .card-image {
              width: 22.3rem;
              height: 100%;
              object-fit: cover;
              border-radius: 0.4rem;
            }
            .right {
              position: absolute;
              top: 0.8rem;
              left: 0.8rem;
              display: inline-block;
              padding: 0.2rem 0.6rem;
              background: #ffde52;
              border-radius: 0.2rem;
              color: #212422;
            }
            .enable {
              position: absolute;
              top: 0.8rem;
              left: 6rem;
              display: inline-block;
              padding: 0.2rem 0.6rem;
              background: #21cccc;
              border-radius: 0.2rem;
              color: #fff;
            }
            .like {
              position: absolute;
              bottom: 1rem;
              right: 1rem;
              width: 3.2rem;
              height: 3.2rem;
              background: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.8267 6.30445C24.0657 4.01406 19.9399 4.42194 17.3985 6.96332L16.0023 8.35952L14.6061 6.96332C12.0647 4.42194 7.9389 4.01406 5.17789 6.30445C2.00901 8.92427 1.83644 13.6305 4.67589 16.47L11.1392 22.9333L14.9983 26.7924C15.5474 27.3415 16.4416 27.3415 16.9749 26.7924L20.8341 22.9333L27.2973 16.47C30.1682 13.6305 29.9956 8.92427 26.8267 6.30445Z' fill='%23FF3D71' stroke='%23FF3D71' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
          .card-explain {
            margin-top: 1rem;
            margin-bottom: 0.2rem;
            color: #212422;
            .third-floor {
              display: flex;
              align-items: center;
              .like-count {
                position: relative;
                padding-left: 1.4rem;
                font-size: 1.1rem;
                color: #9ea29f;
                &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  width: 1.2rem;
                  height: 1.2rem;
                  background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.06 2.36416C9.02464 1.50527 7.47745 1.65822 6.52443 2.61124L6.00086 3.13481L5.47729 2.61124C4.52427 1.65822 2.97709 1.50527 1.94171 2.36416C0.753377 3.34659 0.688666 5.11144 1.75346 6.17624L4.17719 8.59996L5.62436 10.0471C5.83026 10.253 6.16558 10.253 6.3656 10.0471L7.81277 8.59996L10.2365 6.17624C11.3131 5.11144 11.2483 3.34659 10.06 2.36416Z' fill='%239EA29F' stroke='%239EA29F' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
                &:after {
                  content: '';
                  display: inline-block;
                  width: 0.1rem;
                  height: 1rem;
                  margin-left: 0.8rem;
                  margin-right: 0.8rem;
                  background: #dfe4e1;
                }
              }
              .address {
                font-size: 1.1rem;
                color: #9ea29f;
              }
            }
            .second-floor {
              display: flex;
              align-items: center;
              margin-bottom: 1.2rem;
              h3 {
                font-size: 1.4rem;
                line-height: 2rem;
              }
              .new {
                font-weight: 700;
                color: #ff3d71;
              }
            }
            .first-floor {
              > p {
                font-size: 1.3rem;
                .cost {
                  font-weight: 700;
                }
              }
              .star-wrap {
                display: flex;
                align-items: center;
                margin-top: 0.4rem;
                .star {
                  width: 1.2rem;
                  height: 1.2rem;
                  margin-right: 0.46rem;
                  &.yellow {
                    background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00009 9.51332L8.76675 11.1867C8.87882 11.254 9.00822 11.2869 9.13885 11.2813C9.26949 11.2757 9.39558 11.2318 9.50145 11.155C9.60731 11.0783 9.68828 10.9721 9.73427 10.8497C9.78025 10.7273 9.78923 10.5941 9.76009 10.4667L9.02676 7.33332L11.4734 5.21332C11.572 5.12738 11.6431 5.01434 11.678 4.88827C11.7128 4.7622 11.7097 4.62868 11.6692 4.50432C11.6287 4.37996 11.5525 4.27027 11.4502 4.18889C11.3478 4.10751 11.2237 4.05805 11.0934 4.04665L7.87342 3.77332L6.61342 0.786653C6.56219 0.666394 6.47674 0.563848 6.36769 0.491771C6.25864 0.419694 6.13081 0.381266 6.00009 0.381266C5.86937 0.381266 5.74154 0.419694 5.63249 0.491771C5.52344 0.563848 5.43799 0.666394 5.38675 0.786653L4.12675 3.75332L0.906755 3.99999C0.776464 4.01138 0.652402 4.06084 0.550015 4.14222C0.447628 4.2236 0.371439 4.33329 0.330934 4.45765C0.290429 4.58201 0.287397 4.71554 0.322216 4.8416C0.357035 4.96767 0.428167 5.08071 0.526755 5.16665L2.97342 7.33332L2.24009 10.48C2.21094 10.6074 2.21992 10.7407 2.26591 10.8631C2.3119 10.9855 2.39286 11.0916 2.49873 11.1684C2.6046 11.2451 2.73069 11.289 2.86132 11.2946C2.99195 11.3003 3.12135 11.2673 3.23342 11.2L6.00009 9.51332Z' fill='%23FFDE52'/%3E%3C/svg%3E%0A") center center / 100% no-repeat;
                  }
                  &.grey {
                    background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00009 9.51332L8.76675 11.1867C8.87882 11.254 9.00822 11.2869 9.13885 11.2813C9.26949 11.2757 9.39558 11.2318 9.50145 11.155C9.60731 11.0783 9.68828 10.9721 9.73427 10.8497C9.78025 10.7273 9.78923 10.5941 9.76009 10.4667L9.02676 7.33332L11.4734 5.21332C11.572 5.12738 11.6431 5.01434 11.678 4.88827C11.7128 4.7622 11.7097 4.62868 11.6692 4.50432C11.6287 4.37996 11.5525 4.27027 11.4502 4.18889C11.3478 4.10751 11.2237 4.05805 11.0934 4.04665L7.87342 3.77332L6.61342 0.786653C6.56219 0.666394 6.47674 0.563848 6.36769 0.491771C6.25864 0.419694 6.13081 0.381266 6.00009 0.381266C5.86937 0.381266 5.74154 0.419694 5.63249 0.491771C5.52344 0.563848 5.43799 0.666394 5.38675 0.786653L4.12675 3.75332L0.906755 3.99999C0.776464 4.01138 0.652402 4.06084 0.550015 4.14222C0.447628 4.2236 0.371439 4.33329 0.330934 4.45765C0.290429 4.58201 0.287397 4.71554 0.322216 4.8416C0.357035 4.96767 0.428167 5.08071 0.526755 5.16665L2.97342 7.33332L2.24009 10.48C2.21094 10.6074 2.21992 10.7407 2.26591 10.8631C2.3119 10.9855 2.39286 11.0916 2.49873 11.1684C2.6046 11.2451 2.73069 11.289 2.86132 11.2946C2.99195 11.3003 3.12135 11.2673 3.23342 11.2L6.00009 9.51332Z' fill='%23DFE4E1'/%3E%3C/svg%3E%0A") center center / 100% no-repeat;
                  }
                }
                .counting-star {
                  font-size: 1.1rem;
                  color: #9ea29f;
                }
              }
            }
          }
          > a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      .more {
        position: relative;
        display: flex;
        align-items: center;
        margin: 4.8rem auto 0;
        padding: 0.5rem 1rem 0.6rem 1rem;
        background: #fff;
        border: 0.1rem solid #dfe4e1;
        border-radius: 10rem;
        font-size: 1.4rem;
        letter-spacing: -0.03rem;
        color: #9ea29f;
        &:after {
          content: '';
          display: inline-block;
          width: 1.2rem;
          height: 1.2rem;
          margin-left: 0.8rem;
          background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.01574 1L9 5.99212L4 11' stroke='%239EA29F' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
    footer {
      padding-bottom: 3.2rem;
      .footer-logo {
        display: flex;
        justify-content: center;
        align-items: baseline;
        .logo {
          width: 3.45rem;
          height: 3.07rem;
          margin-right: 0.7rem;
          background: url(../image/logo.png) center / 100% no-repeat;
        }
        .logo-text {
          width: 9.4rem;
          height: 2.8rem;
          background: url(../image/Group\ 439.png) center center / contain no-repeat;
        }
      }
      .link-box {
        display: flex;
        justify-content: center;
        margin-top: 1.6rem;
        > a {
          font-size: 1.1rem;
          color: #616562;
          &.terms {
            margin: 0 0.8rem;
            padding: 0 0.8rem;
            border: 0.1rem solid #bdc1be;
            border-top-color: transparent;
            border-bottom-color: transparent;
          }
        }
      }
      .company-explain {
        margin-top: 1.6rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.5rem;
        color: #9ea3a0;
        > div {
          margin-bottom: 0.2rem;
          &.flex {
            display: flex;
            justify-content: center;
            p:first-child {
              position: relative;
              margin-right: 1rem;
              &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -0.5rem;
                transform: translateY(-50%);
                width: 0.03rem;
                height: 1rem;
                background: #dfe4e1;
              }
            }
          }
        }
      }
    }
  }
}
